@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.materials {
  position: relative;

  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: $tablet-width;
    grid-template-rows: 141px 576px;
    gap: 60px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $desktop-width;
    grid-template-rows: 170px 1081px;
    gap: 0;
  }

  &__title {
    width: 268px;
    margin: 0 auto;

    font-family: "Bebas Neue Bold", sans-serif;
    font-size: 58px;
    line-height: 58px;
    font-weight: 700;

    letter-spacing: 0.16em;
    color: $c-blue;
    -webkit-text-stroke: 1px $c-blue;

    @media (min-width: $tablet-width) {
      width: 532px;
      margin: 0 0 0 34px;

      font-size: 80px;
      line-height: 80px;
      letter-spacing: 0.12em;
    }

    @media (min-width: $desktop-width) {
      width: 870px;
      font-size: 138px;
      line-height: 139px;
      margin-left: 135px;
    }
  }

  &__article {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 340px;
      grid-row: 2;
      position: absolute;
      right: 0;
      margin-right: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 134px;
      margin-top: 115px;
      width: 470px;
    }
  }

  &__article-title {
    margin: -117px 0 10px;
    font-size: 20px;
    line-height: 30px;
    color: $c-gray;
  }

  &__article-text {
    margin: 0;
    color: $c-gray;
  }

  &__image {
    position: relative;
    width: 320px;
    height: 240px;
    margin-top: -43px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 576px;
      grid-row: 2 / 2;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      height: 1081px;
    }
  }

  &__text {
    position: relative;
    width: 302px;
    height: 254px;
    box-sizing: border-box;
    padding: 28px 44px 58px 45px;
    margin: -58px auto 0;

    background: rgba(0, 0, 0, 0.45);
    mix-blend-mode: normal;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(34px);
    color: #f8f8f8;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__slide-item {
    @media (min-width: $tablet-width) {
      position: relative;
    }
  }

  &__inner-text {
    display: none;
    position: absolute;
    width: 303px;
    height: 237px;
    box-sizing: border-box;
    padding: 45px 35px;
    margin: 0;

    background: rgba(0, 0, 0, 0.45);
    mix-blend-mode: normal;
    backdrop-filter: blur(34px);
    color: #f8f8f8;

    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 460px;
      margin-left: 350px;
      z-index: 3;
    }

    @media (min-width: $desktop-width) {
      margin-top: 890px;
      margin-left: 920px;
    }
  }

  &__slide-list {
    margin: 0 auto;
    width: 72px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      position: absolute;
    }
  }

  &__slide {
    position: absolute;
    margin-top: -50px;

    width: 6px;
    height: 6px;

    background-color: $c-main;
    border: 1px solid $c-main;

    transform: rotate(-45deg);
    z-index: 3;

    cursor: pointer;

    &--active {
      background-color: rgba(0, 0, 0, 0.3);

      cursor: default;
    }

    @media (min-width: $tablet-width) {
      width: 51px;
      height: 51px;
      background-color: #eb5757;
      border-radius: 50%;
      border: none;

      &--first {
        margin-top: 630px;
        margin-left: 85px;

        @media (min-width: $desktop-width) {
          margin-top: 1040px;
          margin-left: 255px;
        }
      }

      &--second {
        margin-top: 495px;
        margin-left: 220px;

        @media (min-width: $desktop-width) {
          margin-top: 800px;
          margin-left: 530px;
        }
      }

      &--third {
        margin-top: 660px;
        margin-left: 305px;

        @media (min-width: $desktop-width) {
          margin-top: 1090px;
          margin-left: 645px;
        }
      }

      &--fourth {
        margin-top: 550px;
        margin-left: 440px;

        @media (min-width: $desktop-width) {
          margin-top: 900px;
          margin-left: 775px;
        }
      }

      &--five {
        margin-top: 400px;
        margin-left: 480px;

        @media (min-width: $desktop-width) {
          margin-top: 825px;
          margin-left: 1040px;
        }
      }

      &::after {
        content: "";
        width: 11px;
        height: 11px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        background-image: url(../images/cross.png);
        background-repeat: no-repeat;
      }
    }

    &--show {
      background-color: rgba(36, 35, 35, 0.75);
      opacity: 0.65;
      backdrop-filter: blur(12px);

      &::after {
        width: 11px;
        height: 1px;
        background-color: $c-main;
        background-image: none;
      }
    }
  }

  &--outer {
    margin-bottom: 76px;

    @media (min-width: $tablet-width) {
      margin-bottom: 110px;
    }
  }
}
