$c-gray: #4f4f4f;
$c-light-black: #333;
$c-blue: #03839e;
$c-main: #f8f8f8;
$c-caption: #828282;
$c-select: #e0e0e0;
$c-white: #fff;

$mobile-content-width: 260px;
$tablet-width: 768px;
$tablet-content-width: 700px;
$desktop-width: 1440px;
$desktop-content-width: 1170px;

$transition-time: 0.3s;
