h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.team {
  overflow: hidden; }
  @media (min-width: 768px) {
    .team {
      position: relative;
      display: grid;
      grid-template-columns: 347px 340px;
      grid-template-rows: 58px 446px;
      gap: 112px 47px;
      padding-bottom: 20px; } }
  @media (min-width: 1440px) {
    .team {
      grid-template-columns: 471px 677px;
      grid-template-rows: 58px 535px;
      gap: 121px 57px;
      overflow: visible;
      padding: 0; } }
  .team__title {
    width: 260px;
    margin: 0 auto 60px;
    font-family: "Bebas Neue Bold", sans-serif;
    font-size: 58px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 0.16em;
    color: #333; }
    @media (min-width: 768px) {
      .team__title {
        width: 700px;
        grid-column: 1 / 3;
        margin: 0 0 0 34px; } }
  .team__image-container {
    width: 320px;
    height: 240px;
    margin-bottom: 35px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .team__image-container {
        width: 340px;
        height: 255px;
        margin: -50px 0 0;
        grid-column: 2 / 3;
        align-self: center; } }
    @media (min-width: 1440px) {
      .team__image-container {
        width: 677px;
        height: 507px;
        -ms-flex-item-align: end;
            align-self: end; } }
  .team__image {
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .team__image:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .team__text-container {
    padding-bottom: 55px;
    background-image: url(../images/bg_yellow.svg);
    background-repeat: no-repeat;
    background-position: 0 98px; }
    @media (min-width: 768px) {
      .team__text-container {
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 2;
        padding-bottom: 0;
        background-image: url(../images/bg_yellow_tablet.png);
        background-position: 0; } }
    @media (min-width: 1440px) {
      .team__text-container {
        background-image: url(../images/teambg_desktop.svg);
        background-position: top left; } }
  .team__text {
    width: 260px;
    margin: 0 auto;
    color: #4f4f4f; }
    @media (min-width: 768px) {
      .team__text {
        width: 313px;
        margin: 0 0 0 34px; } }
    @media (min-width: 1440px) {
      .team__text {
        margin: 34px 0 0 135px; } }
    .team__text--outer {
      margin-bottom: 30px; }
      @media (min-width: 768px) {
        .team__text--outer {
          margin: 120px 0 30px 34px; } }
      @media (min-width: 1440px) {
        .team__text--outer {
          margin: 168px 0 0 135px; } }
  .team__lead {
    display: none; }
    @media (min-width: 768px) {
      .team__lead {
        display: block;
        font-family: "Bebas Neue Bold", sans-serif;
        font-size: 232px;
        line-height: 232px;
        letter-spacing: 0.15em;
        -webkit-text-stroke: 1px #03839e;
        color: transparent; } }
    .team__lead--martin {
      position: absolute;
      margin-top: 70px;
      margin-left: -44px; }
      @media (min-width: 1440px) {
        .team__lead--martin {
          margin-top: 80px;
          margin-left: 74px;
          font-size: 288px;
          line-height: 288px; } }
    .team__lead--andy {
      position: absolute;
      margin-top: 445px;
      margin-left: 288px; }
      @media (min-width: 1440px) {
        .team__lead--andy {
          font-size: 288px;
          line-height: 288px;
          margin: 645px 0 0;
          right: 0; } }
  .team--outer {
    margin-bottom: 67px; }
    @media (min-width: 768px) {
      .team--outer {
        margin-bottom: 172px; } }
    @media (min-width: 1440px) {
      .team--outer {
        margin-bottom: 226px; } }

/*# sourceMappingURL=team.css.map */
